img {
  height: 55%;
  width: 100%;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 2px 2px 2px grey;
}

ul,
li {
  list-style-type: none;
  text-align: left;
}

.output-view {
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  background-color: black;
  color: #40fe10;
  box-shadow: 2px 2px 2px black;
}
.output-view--word-list {
  padding: 3px;
  margin: 3px;
  background-color: black;
  color: #40fe10;
  letter-spacing: 1px;
  word-spacing: 3px;
}
.output-view--inputstring {
  padding: 3px;
  margin: 3px;
  background-color: black;
  color: #40fe10;
}
.output-view--output {
  padding: 3px;
  margin: 3px;
  background-color: black;
  color: #40fe10;
}

.output-view h3 {
  color: white;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
