img {
  height: 70%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
}

ul,
li {
  list-style-type: none;
  text-align: left;
}

.image-preview {
  margin-top: 10px;
}

.output-view {
  margin: 5px 5px;
  border-radius: 5px;
  padding: 1px;
  background-color: #272b33;
  color: #40fe10;
  box-shadow: 2px 2px 2px black;
  height: 100%;
}
.output-view--word-list {
  padding: 3px;
  margin-left: 8px;
  background-color: #272b33;
  color: #40fe10;
  font-size: 14px;
}
.output-view--inputstring {
  margin-left: 8px;
  padding: 1px;
  background-color: #272b33;
  color: #40fe10;
  font-size: 16px;
}
.output-view--output {
  background-color: #272b33;
  color: #e8ff2d;
  margin-left: 8px;
  font-size: 18px;
}

.output-view h3 {
  color: #d4d4d4;
}
